* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-align: center;
}

/* ******************************
            HEADER
****************************** */
header {
  background-color: green;
}

header>div {
  padding: 12vh 0 5vh 0;
}

header>div>h4 {
  font-size: 3.5rem;
}

header>div>h1 {
  display: inline-block;
  font-size: 11rem;
  color: white;
  padding: 3vh 1vw;
  border-bottom: 1px solid white;
}

header>article {
  font-size: 2rem;
  width: 70vw;
  margin: 5vh auto;
}

header>section {
  display: flex;
  justify-content: space-evenly;
  padding: 2vh 0 5vh 0;
}

.borderRight {
  border-right: 1px solid white;
}

header>section>div {
  flex-basis: 25vw;
}

header>section>div>h2 {
  font-size: 7rem;
  color: white;
}

header>section>div>h5 {
  font-size: 2rem;
}

/* **********************************************
                MAIN 
********************************************** */
main {
  padding: auto 5vw auto 5vw;
}

main>section>div {
  padding: 12vh 15vw;
}

main>section>div>h6 {
  font-size: 3rem;
  color: green;
}

main>section>div>h2 {
  font-size: 4.5rem;
}

main>section>article {
  width: 90vw;
  margin: auto 5vh 5vh auto;
  text-align: left;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
}

main>section>article>div {
  padding: 0 5vw;
  display: flex;
  align-items: flex-start;
}

main>section>article img {
  width: 30px;
  margin: 0 15px;
}

main>section>article h3 {
  font-size: 2.5rem;
}

main>section>article p {
  font-size: 1.6rem;
  line-height: 3rem;
  width: 30vw;
}

/* ***********************************************
              MAIN ARTICLE
*********************************************** */

main>article {
  background-color: gray;
  width: 90vw;
  margin: 10vh auto 0 auto;
}

main>article>section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  width: 80vw;
  margin: auto;
  text-align: left;
}

main>article>section>div {
  margin: 0 10px 10px 10px;
}

main>article>section>div>img {
  height: 200px;
  width: 260px;
}

main>article>section>div>h4 {
  display: inline-block;
  font-size: 1.8rem;
  color: dodgerblue;
  margin: 2vh auto 4vh auto;
}

main>article>section>div>p {
  font-size: 1.8rem;
  line-height: 3.5rem;
}

main>article>section>div>h6 {
  display: inline-block;
  font-size: 1.8rem;
  color: aqua;
  margin: 2vh auto;
}